
.site-header__logo--on-load, .primary__menu-icon--on-load
	animation: $visible

.site-header__logo--after-3s .e
	animation: $elogoAfter3s

.site-header__logo--after-3s .j
	animation: $jlogoAfter3s

.primary__menu-icon--on-load .primary__menu-icon__wrapper 
	.primary__menu-icon__before
		animation: $before
	
	.primary__menu-icon__middle
		animation: $middle
	
	.primary__menu-icon__after
		animation: $after

.primary__menu-icon--after-3s .primary__menu-icon__wrapper 
	.primary__menu-icon__before
		animation: $beforeTooLong
	
	.primary__menu-icon__middle
		animation: $middleTooLong
	
	.primary__menu-icon__after
		animation: $afterTooLong