
.site-header
	position: relative


	&__logo
		position: absolute
		padding: 3vh 3vw
		margin: 35vh 50%
		transform: translate(-50%)
		background: $sectionBGColor
		font-size: 8vw
		font-weight: 400
		color: $textColor1
		border: 1px solid $mainContrast
		border-radius: 40px
		box-shadow: $textContrast
		text-shadow: $textContrast

		@include phone
			margin: 7vh 50%
			padding: 3.5vh 7vw
			font-size: 12vw
			border-radius: 20px

		@include tablet
			margin: 25vh 50%
			padding: 3vh 8vw
			border-radius: 30px