		<main class="main">
			<section class="main__card">
				<h2>Lorem</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint vitae laboriosam recusandae dolorum animi voluptatem eos consequatur harum inventore minima rerum unde in molestiae sit, aliquid cumque, reiciendis eveniet. Ipsum omnis dolorum esse corrupti illum totam error, eaque ipsa nam.</p>
			</section>
			<section class="main__card">
				<h2>Sit amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint vitae laboriosam recusandae dolorum animi voluptatem eos consequatur harum inventore minima rerum unde in molestiae sit, aliquid cumque, reiciendis eveniet. Ipsum omnis dolorum esse corrupti illum totam error, eaque ipsa nam.</p>
			</section>
			<section class="main__card">
				<h2>Dolor sit amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint vitae laboriosam recusandae dolorum animi voluptatem eos consequatur harum inventore minima rerum unde in molestiae sit, aliquid cumque, reiciendis eveniet. Ipsum omnis dolorum esse corrupti illum totam error, eaque ipsa nam.</p>
			</section>
			<section class="main__card">
				<h2>Amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint vitae laboriosam recusandae dolorum animi voluptatem eos consequatur harum inventore minima rerum unde in molestiae sit, aliquid cumque, reiciendis eveniet. Ipsum omnis dolorum esse corrupti illum totam error, eaque ipsa nam.</p>
			</section>
			<section class="main__card">
				<h2>Lorem</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint vitae laboriosam recusandae dolorum animi voluptatem eos consequatur harum inventore minima rerum unde in molestiae sit, aliquid cumque, reiciendis eveniet. Ipsum omnis dolorum esse corrupti illum totam error, eaque ipsa nam.</p>
			</section>
			<section class="main__card">
				<h2>Sit amet</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint vitae laboriosam recusandae dolorum animi voluptatem eos consequatur harum inventore minima rerum unde in molestiae sit, aliquid cumque, reiciendis eveniet. Ipsum omnis dolorum esse corrupti illum totam error, eaque ipsa nam.</p>
			</section>
		</main>