<%- include('includes/header') %>
		<main>
			<div class="main">
				<ul>
					<li>main</li>
					<li>some stuff</li>
					<li>some other stuff</li>
					<li>about</li>
					<li>test</li>
				</ul>
			</div>
		</main>
<%- include('includes/footer') %>