<%- include('includes/header') %>
		<!-- <img src="https://i.picsum.photos/id/1020/4288/2848.jpg" alt=""> -->
		<!-- <img src="https://i.picsum.photos/id/1020/1288/2848.jpg" alt=""> -->

	    <picture>
	      <source srcset="https://i.picsum.photos/id/1020/2144/1424.jpg 1920w, https://i.picsum.photos/id/1020/4288/2848.jpg 3840w" media="(min-width: 1380px)">
	      <source srcset="https://i.picsum.photos/id/1020/1430/950.jpg 1380w, https://i.picsum.photos/id/1020/2860/1900.jpg 2760w" media="(min-width: 990px)">
	      <source srcset="https://i.picsum.photos/id/1020/1074/721.jpg 990w, https://i.picsum.photos/id/1020/2144/1424.jpg 1980w" media="(min-width: 640px)">
	      <img srcset="https://i.picsum.photos/id/1020/715/1775.jpg 640w, https://i.picsum.photos/id/1020/1074/721.jpg 1280w" alt="Coastal view of ocean and mountains" class="large-hero__image">
	    </picture>
		<main>
			<div class="main">
				<ul>
					<li>main</li>
					<li>some stuff</li>
					<li>some other stuff</li>
					<li>about</li>
					<li>test</li>
				</ul>
			</div>
		</main>
<%- include('includes/footer') %>