<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index from views</title>
	<link rel="stylesheet" type="text/css" href="/main-bundle.css">
</head>
<body>
	<h1>index from views.ejs</h1>
	<script src="/main-bundle.js"></script>
</body>
</html>